<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
	<listener class-name="Test.TestNGReportCustomizationClass"/>
	<listener class-name="Test.ListenersDefinitionClass"/>
</listeners>
<test thread-count="5" name="Test">
<classes>
<class name="com.som.v1.GetRequest"/>
<class name="com.som.v1. PostRequest"/>
<class name="Test.MySampleTest"/>
</classes>

</test> <!-- Test -->
</suite> <!-- Suite -->
